@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Iceland);
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
  background-size: cover;
  background: #329696;
  background-repeat: no-repeat;
  background: linear-gradient(to left top, #329696, #64c8c8); }

.header {
  width: 100%;
  background: white;
  margin: 0px;
  padding: 5px 20px; }

#logo {
  font-family: "Helvetica Neue", sans-serif;
  color: #009696;
  font-weight: 100; }

p {
  font-weight: 200;
  font-size: 9px; }

a {
  font-weight: 300;
  color: #323232;
  text-decoration: none; }

p.symbol {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 600; }

p.atomic-number {
  font-size: 0.8em;
  line-height: 0.8em;
  font-weight: 400; }

.container {
  margin: 20px; }

.periodic-table {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 5px; }

.element {
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  background: white;
  margin: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#alkaline-earth {
  color: #32c8fa;
  border-bottom: 1px solid #32c8fa; }
