@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Iceland);

$alkali-metal: rgb(50,250,200);
$alkaline-earth: rgb(50,200,250);
$transition-metal: rgb(50,100,250);
$semi-metal: rgb(100,50,250);
$non-metal: rgb(200,50,250);
$basic-metal: rgb(50,150,150);
$halogen: rgb(250,200,50);
$noble-gas: rgb(150,50,50);
$lanthanide: rgb(250,100,50);
$actinide: rgb(200,250,50);


//-- GENERAL
body {
    margin: 0px;
    padding: 0px;
    height: 100%;  
    font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    background: rgb(50,150,150);
    background-repeat: no-repeat;
    background: -webkit-linear-gradient( to left top, rgb(50,150,150), rgb(100,200,200));
    background: -moz-linear-gradient( to left top, rgb(50,150,150), rgb(100,200,200));
    background: -ms-linear-gradient( to left top, rgb(50,150,150), rgb(100,200,200));
    background: -o-linear-gradient( to left top, rgb(50,150,150), rgb(100,200,200));
    background: linear-gradient( to left top, rgb(50,150,150), rgb(100,200,200));
}

.header{
    width: 100%;
    background: rgb(255,255,255);
    margin: 0px;
    padding: 5px 20px;
}

#logo{
    font-family: "Helvetica Neue", sans-serif;
    color: rgb(0,150,150);
    font-weight: 100;
}

p{
    font-weight: 200;
    font-size: 9px;
}

a{
    font-weight: 300;
    color: rgb(50,50,50);
    text-decoration: none;
}


p.symbol {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 600;
}

p.atomic-number {
    font-size: 0.8em;
    line-height: 0.8em;
    font-weight: 400;
}

.container {
 margin: 20px;
}

.periodic-table{
border-radius: 5px;
background-color: rgba(0,0,0,0.1);
margin: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: 5px;
}

.element {
    border-radius: 5px;
    min-width: 40px;
    min-height: 40px;
    
    background: rgb(255,255,255);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alkaline-earth {
    color: $alkaline-earth;
    border-bottom: 1px solid $alkaline-earth;
}


.filter {
}
