// Single Page Views for Elements

.element-content {
    width: 480px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}


.element-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.element-header-image {
    width: 240px;
    height: auto;
}

.element-image {
   width: 240px;
}

.element-header-content {
    width: 200px;
    flex-direction: column;
    padding: 20px;
}

.element-header-content h1 {
    color: rgb(50,50,50);
}

.element-header-content h2 {
    color: rgb(100,100,100);
}

#muted {
    color: rgb(150,150,150);
    font-weight: 100;
}

.element-body p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: rgb(50,50,50);
    text-align: left;
}

.element-footer {
    width: 100%;
    border-top: 1px solid rgb(200,200,200);
    padding-top: 5px;
}

a.element-tag {
    background: rgb(200,200,200);
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(100,100,100);
}

// Element Table

.element-table {
    margin: 5px;
}

.element-table-row {
}

.element-table-cell {
    width: 120px;
    padding: 5px;
    color: rgb(100,100,100);
    border-bottom: 1px solid rgb(100,100,100);
}

.element-table-cell-label {
    width: 80px;
    color: rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);
}

a.close {
    position: relative;
    left: 470px;
    color: lightgrey;
}
